.User {
    background-color: whitesmoke;
    height: 100vh;
    position: fixed;
}

.logo img{
    width: 180px;
    height: auto;
}

.logo span{
    margin-left: 10%;
    font-family: 'Satisfy', cursive;
    color: #EB6049;
    font-size: 36px;
}

.UserInterface img{
    width: 180px;
    height: auto;
    margin-left: 32%;
    margin-top: 10%;
}

.UserInterface p{
    width: 100px;
    height: auto;
    margin-left: 32%;
    margin-top: 10%;
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
}

.logged-in button{
    margin-top: 75%;
    margin-left: 40%;
    width: 56px;
    height: auto;
}

.post{
    margin-top: 10%;
    max-width: 520px;
    max-height: auto;
    margin-left: 80%;
}

.post img{
    width: 320px;
    height: auto;
    margin-bottom: 5%;
}

.post2{
    margin-top: 10%;
    max-width: 520px;
    max-height: auto;
    margin-left: 50%;
}

.post2 img{
    width: 320px;
    height: auto;
    margin-bottom: 5%;
}

.post3{
    margin-top: 10%;
    max-width: 520px;
    max-height: auto;
    margin-left: 20%;
}

.post3 img{
    width: 320px;
    height: auto;
    margin-bottom: 5%;
}